assets/videos/vehicles/index-video.mp4 filter=lfs diff=lfs merge=lfs -text
assets/images/video-posters/index-poster.jpg filter=lfs diff=lfs merge=lfs -text
assets/images/logo.png filter=lfs diff=lfs merge=lfs -text